* {
  margin: 0;
  padding: 0;
  font-family: Junicode;
  font-style: normal;
}

body {
  background: #a81802;
  color: #1813a8;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  position: relative;
  height: min(25vh, 25vw);
  width: min(25vh, 25vw);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  font-size: 3vw;
  text-align: center;
  font-family: JunicodeBold;
  position: absolute;
  border-radius: 50%;
}

.circleText {
  font-size: 1.5vw;
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
  animation: rotateText 5s linear infinite;
}

.circleText span {
  position: absolute;
  left: 50%;
  transform-origin: 0 min(12.5vh, 12.5vw);
}

@keyframes rotateText {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .header {
    font-size: 10vw;
  }
  .circle {
    height: 80vw;
    width: 80vw;
  }
  .circleText {
    font-size: 5vw;
  }
  .circleText span {
    position: absolute;
    left: 50%;
    transform-origin: 0 min(40vh, 40vw);
  }
}

@font-face {
  font-family: 'Junicode';
  src: url('fonts/junicode-webfont.woff2') format('woff2'),
    url('fonts/junicode-webfont.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'JunicodeItalic';
  src: url('fonts/junicode-italic-webfont.woff2') format('woff2'),
    url('fonts/junicode-italic-webfont.woff') format('woff');
  font-style: italic;
}

@font-face {
  font-family: 'JunicodeBold';
  src: url('fonts/junicode-bold-webfont.woff2') format('woff2'),
    url('fonts/junicode-bold-webfont.woff') format('woff');
  font-style: bold;
}

@font-face {
  font-family: 'JunicodeBoldItalic';
  src: url('fonts/junicode-bolditalic-webfont.woff2') format('woff2'),
    url('fonts/junicode-bolditalic-webfont.woff') format('woff');
  font-style: bold, italic;
}
